configure
Makefile.in
Makefile
config.log
config.status
libtool
INSTALL
*.la
*.so
*.o
*.lo
*.loT
streamingserver.xml
streamingadminserver.conf
defaultPaths.h
aclocal.m4
autom4te.cache
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
.deps
.libs
